<div>
    <div>
        <form name="reportForm">
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Customer</label>
                    <input ng-model="ctrl.customerName" type="text" step="1" disabled>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Sex</label>
                    <md-select ng-model="ctrl.report.sex">
                        <md-option ng-repeat="gen in ctrl.genders" value="{{gen}}">
                            {{gen}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Age from</label>
                    <input ng-model="ctrl.report.ageFrom" type="number" step="1">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Age till</label>
                    <input ng-model="ctrl.report.ageTill" type="number" step="1">
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-autocomplete flex
                        md-selected-item="ctrl.report.location"
                        md-search-text-change="ctrl.searchLocationChange(ctrl.searchLocation)"
                        md-search-text="ctrl.searchLocation"
                        md-selected-item-change="ctrl.selectedLocationChange(item)"
                        md-items="item in ctrl.queryLocation(ctrl.searchLocation)"
                        md-item-text="item"
                        md-min-length="0"
                        md-floating-label="Location">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchLocation" md-highlight-flags="^i">{{item}}</span>
                    </md-item-template>
                    <md-not-found>
                        No location matching "{{ctrl.searchLocation}}" were found.
                    </md-not-found>
                </md-autocomplete>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Income from</label>
                    <input ng-model="ctrl.report.incomeFrom" type="number" step="100">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Income till</label>
                    <input ng-model="ctrl.report.incomeTill" type="number" step="100">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Months</label>
                    <input ng-model="ctrl.report.pastMonths" type="number">
                </md-input-container>
            </div>
            <md-button class="md-primary" ng-click="ctrl.query();">Query</md-button>
        </form>
    </div>
    <md-divider></md-divider>
    <div flex>
        <div>
            <h3>Classifications</h3>
            <md-input-container class="md-block" flex-gt-sm="">
                <label>Income/Expenses</label>
                <md-select ng-model="ctrl.switchEarnExp" ng-change="ctrl.drawPieCharts()">
                    <md-option ng-repeat="val in ctrl.switchPieChart" value="{{val}}">
                        {{val}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div id="piechart" class="piechart"></div>
            <div id="groupPieChart" class="piechart"></div>
        </div>

        <md-divider></md-divider>
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span>Transactions</span>
            </div>
        </md-toolbar>

        <!-- exact table from live demo -->
        <md-table-container>
            <table md-table ng-model="selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="getTransactions">
                <tr md-row>
                    <th md-column md-order-by="transactionDateTime"><span>Date</span></th>
                    <th md-column md-order-by="amount" md-numeric><span>Amount</span></th>
                    <th md-column mo-order-by="currency">Currency</th>
                    <th md-column md-order-by="classification">Classification</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="trans in transactions.content">
                    <td md-cell>{{trans.classificationDate}}</td>
                    <td md-cell>{{trans.amount | number }}</td>
                    <td md-cell>{{trans.currency}}</td>
                    <td md-cell>{{trans.classification}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="[3, 5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getTransactions" md-page-select></md-table-pagination>
    </div>
</div>
