<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Angular Material - Starter App</title>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic' />
	<link rel="stylesheet" th:href="@{/lib/angular-material/angular-material.css}" />
	<link rel="stylesheet" th:href="@{/app/assets/app.css}" />
	<link rel="stylesheet" th:href="@{/app/assets/login.css}" />
</head>

<body>

<hgroup>
	<h1>SimpleProfile</h1>
	<h3>for Banking</h3>
</hgroup>
<form th:action="@{/login}" method="post">
	<div class="group">
		<input type="text" name="username"><span class="highlight"></span><span class="bar"></span>
		<label>Name</label>
	</div>
	<div class="group">
		<input type="password" name="password"><span class="highlight"></span><span class="bar"></span>
		<label>Email</label>
	</div>

	<button type="submit" class="button buttonBlue">Login
		<div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
	</button>
</form>

</body>
</html>
