<div>
    <div>
        <md-datepicker ng-model="ctrl.common.from" md-placeholder="From Date"></md-datepicker>
        <md-datepicker ng-model="ctrl.common.till" md-placeholder="To Date"></md-datepicker>
        <form id="file-form" action="/files" method="POST" style="display:inline;">
            <input type="file" id="file-select" name="file" multiple class="ng-hide"/>
            <!--<button type="submit" id="upload-button">Upload</button>-->
            <md-button id="uploadButton" class="md-raised md-primary" ng-click="ctrl.showUpload()"> Choose Files </md-button>
        </form>
    </div>
    <div id="histogram"></div>
    <div flex>



        <!--<input id="fileInput" name="file" type="file" class="ng-hide" multiple ng-model="ctrl.file" ng-change="ctrl.upload()">-->

    </div>
</div>