
<!--
<md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
<h2>{{ul.selected.name}}</h2>
<p>{{ul.selected.content}}</p>

<md-button class="share" md-no-ink ng-click="ul.makeContact(ul.selected)" aria-label="Share with {{ ul.selected.name }}">
    <md-icon md-svg-icon="share"></md-icon>
</md-button>
-->
<style>
    .md-button.logo {
        height: 5rem;
        width: 5rem;
    }
    .logo-image {
        height: 100%;
        width: 100%;
    }
</style>

<div>
<img src="{{ctrl.customer.avatar}}" class="avatar"><h3 class="md-headline">{{ctrl.customer.firstName}} {{ctrl.customer.lastName}}</h3>
    <span>
        <md-chips ng-model="ctrl.tags" name="tags" readonly="true">
          <md-chip-template>
              <strong>{{$chip}}</strong>
              <em></em>
          </md-chip-template>
      </md-chips>
    </span>
</div>
<h3 class="md-headline">Companies</h3>
<div class="Companies">
    <md-button ng-repeat="itm in ctrl.companies">
        <md-button class="md-icon-button logo">
            <img class="logo-image" src="{{itm.icon}}" title="{{itm.name}}">
        </md-button>
    </md-button>

</div>
<h3 class="md-headline">Connections</h3>
<div class="Connections">

</div>
<h3 class="md-headline">Planned</h3>
<div class="Planned">

</div>
